<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<span>Your twitter handle</span>
<input type="text" id="handle">
<input type="text" id="handle2">
<button id="submit">Submit</button>

 <script>
        $('#submit').click(function(){
        	var $names=$('input');
        	var construct="http://localhost:3000/getTweets/";
        	for(var i=0;i<$names.length;i++){
        		construct+=encodeURIComponent($($names[i]).val());
        		if(i!=$names.length-1)construct+='~';
        	}
            location.href=construct;
        });
 </script>
