<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<span>Your twitter handle</span>
<input type="text" id="handle">
<input type="text" id="handle2">
<button id="submit">Submit</button>

 <script>
        $('#submit').click(function(){
            location.href='http://localhost:3000/getTweets/iashris~BarackObama';
        });
 </script>
